version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: fraud_poc
      POSTGRES_USER: fraud
      POSTGRES_PASSWORD: fraud
    ports:
      - "5432:5432"
    volumes:
      - ./sql:/ops/sql:ro

  redis:
    image: redis:7
    ports:
      - "6379:6379"
